/* ==========================
   Soft Pink Pattern Background
   ========================== */

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-color: #fff4f8;

    /* Pattern + gradient */
    background-image:
        radial-gradient(circle, rgba(255, 255, 255, 0.819) 2px, transparent 2px),
        radial-gradient(circle, rgba(255, 182, 193, 0.36) 2px, transparent 2px),
        linear-gradient(135deg, #fff7fa 0%, #ffe8f1 50%, #fff2f7 100%);

    background-size:
        40px 40px,
        40px 40px,
        cover;

    background-position:
        0 0,
        20px 20px,
        center;
    justify-content: center;
}
h1{
    display: block;
    text-align: center;
    color: rgb(234, 84, 162);
    position: relative;
}
.outer{
    display: flex;
    position: absolute;
    inset: 0;         /* Shorthand for top: 0, right: 0, bottom: 0, left: 0 */
    margin: auto;     /* Magical centering trick for positioned elements */
    width: 350px;     /* Element must have a specified width */
    height: 450px;    /* Element must have a specified height */
    background-color: black;
    border-radius: 50px;
    justify-content: center;
    color: rgb(233, 232, 232);
    flex-wrap: wrap;
}
img{
    display: block;
    width: 70%;
    height: auto;
    position: absolute;
    top: 20px;
    border-radius: 30px;
}
.outer #fck{
    display: block;
    position: absolute;
    bottom: 15%;
}
.yes{
    width: 25%;
    height: 12%;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 223, 26);
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 60%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.yes:hover{
    transform: scale(1.2); 
}
.no:hover{
    transform: scale(1.2);
}
.no{
    cursor: pointer;
}
a{
    color: inherit;
    display: flex;
    text-decoration: none;
}