html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #fff4f8;

    background-image:
        radial-gradient(circle, rgba(255, 255, 255, 0.819) 2px, transparent 2px),
        radial-gradient(circle, rgba(255, 182, 193, 0.36) 2px, transparent 2px),
        linear-gradient(135deg, #fff7fa 0%, #ffe8f1 50%, #fff2f7 100%);

    background-size:
        40px 40px,
        40px 40px,
        cover;

    background-position:
        0 0,
        20px 20px,
        center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    display: block;
    text-align: center;
    color: rgb(234, 84, 162);
    position: relative;
    padding-bottom: 20px;
    margin-top: 0;
}

.outer {
    display: flex;
    position: relative;
    width: 90%;
    max-width: 500px;
    height: 450px;
    background-color: black;
    border-radius: 50px;
    justify-content: center;
    color: rgb(233, 232, 232);
    flex-wrap: wrap;
}

img {
    display: block;
    width: 70%;
    height: auto;
    position: absolute;
    top: 20px;
    border-radius: 30px;
}

.outer #fck {
    display: block;
    position: absolute;
    bottom: 22%;
}

.yes {
    width: 25%;
    height: 12%;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 223, 26);
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 60%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.no {
    width: 25%;
    height: 12%;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 0, 50);
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 60%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.yes:hover,
.no:hover {
    transform: scale(1.2); 
}

a {
    color: inherit;
    display: flex;
    text-decoration: none;
}

#submit{
    display: flex;
    position: relative;
    background-color: grey;
    width: 50%;
    height: 30px;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}
#submit:hover{
    transform: scale(1.2)
}
#answerz{
    width: 400px;
    height: 600px;
    background-color: white;
    color:black;
}